@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --blue-primary: #259DDF;
  --green-primary: #19D771;
  --yellow-primary: #EED72B;
  --red-primary: #F9472E;

  --border-blue-primary: #0a2f42;
  --border-green-primary: #083f22;
  --border-yellow-primary: #3f390d;
  --border-red-primary: #44150f;

  --background-color-game: #1A1A1A;
  --background-header: #F5F5F5;
  --text-color: #ffffff;
  --text-color-black: #000000;
  --background-body: #ffffff;
  --background-footer: #141414;
  --background-footer-bottom: #000000;

  --logo-primary: #333333;
  --logo-secundary: #8aa811;
  --color-navegation: #666666;
  --border-search: #b4b4b4;

  --font-primary: 'Open Sans', sans-serif;
  --font-secundary: 'Nunito', sans-serif;
}

body {
  min-width: 780px;
  margin: 0;
  background-color: var(--background-body);
  font-family: var(--font-primary);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  background-color: var(--background-header);
  box-shadow: 0 0.3px 5px 0.5px var(--color-navegation);
  margin-bottom: 3.125em;
  position: relative;
}

header .logo {
  font-family: var(--font-primary);
  color: var(--logo-primary);
  font-size: 1.875em;
  font-weight: 700;
  margin: 0;
}

header .logo span {
  font-family: var(--font-secundary);
  color: var(--logo-secundary);
  font-size: 28px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  list-style: none;
  margin: 0;
}

header nav ul li a {
  font-family: var(--font-secundary);
  text-decoration: none;
  color: var(--color-navegation);
  font-family: var(--font-primary);
  font-size: 0.875em;
  font-weight: 400;
}

header nav ul li a:hover {
  color: var(--logo-secundary);
  text-decoration: underline;
}

.navegation-side {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rigth-navegation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875em;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-text {
  height: 30px;
  border: 1px solid var(--border-search);
  border-right: 0;
  padding: 0 5px 0 12px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  box-shadow: inset 1px 1px 1px rgb(0 0 0 / 10%);
  border-radius: 6px 0 0 6px;
  outline: 0;
}

.search-btn {
  height: 30px;
  width: 50px;
  color: white;
  background-color: var(--logo-secundary);
  float: right;
  border: 1px solid var(--border-search);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  border-left: 0;
}

.search-btn:hover {
  color: white;
}


.description-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25em;
  margin-bottom: 6.25em;
}

.description, .instruction {

  width: 60%;
  box-shadow: 0 0.3px 5px 0.5px var(--color-navegation);

}

.description-box h2 {
  margin: 0;
  background-color: var(--logo-secundary);
  padding: 0.3rem 1rem;
  color: var(--background-header);
}

.description-box p, .instruction-box p {
  margin: 0;
  background-color: var(--background-header);
  padding: 0.8rem 1rem;
}

/*-------------- more game section --------*/

.more-games {
  width: 80%;
}

.more-games h4 {
  font-size: 1.125em;
  font-weight: 700;
  color: var(--text-color-black);
  font-family: var(--font-primary);
}

.row {
  text-align: center;
  border: 1px solid var(--color-navegation);
  padding-top: 1.25em;
  margin-bottom: 7.5em;
}

.games-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--text-color-black);
}

.games-card:hover {
  color: var(--logo-secundary);
  text-decoration: underline;
}

.games-card img {
  height: 100px;
  width: 140px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-navegation);
  object-fit: cover;
}

.games-card h5 {
  color: var(--text-color-black);
  font-size: 1em;
  font-weight: 400;
  font-family: var(--font-secundary);
  margin: 0;
  width: 100%;
}

/*--------------- footer ------------- */

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 6.25em;
  color: var(--text-color);
  background-color: var(--background-footer);
  padding: 1.25em 3.125em;
}

.footer-content .about-us {
  max-height: 163px;
}

.footer-content .about-us p, .footer-content .contact p {
  margin: 0;
}

.footer-content .about-us h4, .footer-content .contact h4 {
  border-bottom: 3px solid var(--logo-secundary);
  padding-bottom: 0.3125em;
  margin: 0;
  margin-bottom: 1.25em;
  font-size: 1.125em;
}

.footer-content .about-us h4 {
  width: 100px;
}

.footer-content .contact h4 {
  width: 200px;
}

.footer-content ul {
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625em 0.625em;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-footer-bottom);
  font-family: var(--font-primary);
  font-size: 0.875em;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom p span {
  color: var(--logo-secundary);
}

footer .logo {
  font-family: var(--font-primary);
  color: var(--text-color);
  font-size: 1.875em;
  font-weight: 700;
}

footer .logo span {
  font-family: var(--font-secundary);
  color: var(--logo-secundary);
  font-size: 28px;
}

footer .socials {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25em;
  text-decoration: none;
  list-style: none;
}

footer .socials li a i {
  color: white;
}

footer .socials li a i:hover {
  color: var(--logo-secundary);
}

/*------------------------- Medias Queries---------------------------*/

/* - - - - - Portátil L- - - - - - - */
@media(max-width: 1130px) {
  header nav ul {
    gap: 1.25em;
  }

  header nav ul li a {
    font-size: 0.812em;
  }
}

/* - - - - - Portátil - - - - - - - */
footer .logo {
  font-size: 1.875em;
}

footer .logo span {
  font-size: 28px;
}

@media(max-width: 1024px) {
  .navegation-side {
    width: 90%;
  }

  .description-box {
    width: 90%;
    gap: 1.25em;
  }

  .more-games {
    width: 90%;
  }

  footer .logo {
    font-size: 1.69em;
  }

  footer .logo span {
    font-size: 25px;
  }

  .footer-bottom {
    font-size: 0.79em;
  }

  .footer-content .about-us p, .footer-content .contact p {
    padding-bottom: 0.3125em;
    margin-bottom: 0;
    font-size: 0.875em;
  }

  .footer-content {
    gap: 60px;
  }
}

@media(max-width: 930px) {
  header nav ul {
    gap: 1.1em;
  }

  header nav ul li a {
    font-size: 0.75em;
  }

  .footer-content .about-us p, .footer-content .contact p {
    padding-bottom: 0.3125em;
    margin-bottom: 0;
    font-size: 0.78em;
  }

  footer .logo {
    font-size: 1.5em;
  }

  footer .logo span {
    font-size: 22px;
  }

  .footer-bottom {
    font-size: 0.7em;
  }
}

/* - - - - - Tablet - - - - - - - */
@media(max-width: 860px) {
  header .logo {
    font-size: 1.69em;
  }

  header .logo span {
    font-size: 25px;
  }

  header nav ul li a {
    font-size: 0.7em;
  }

  .search-text {
    height: 27px;
    padding: 0 5px 0 12px;
    font-size: 12px;

  }

  .search-btn {
    height: 27px;
    width: 45px;
  }

  .footer-content .about-us p, .footer-content .contact p {
    padding-bottom: 0.3125em;
    margin-bottom: 0;
    font-size: 0.6em;
  }

  footer .logo {
    font-size: 1.3125em;
  }

  footer .logo span {
    font-size: 19px;
  }

  .footer-bottom {
    font-size: 0.61em;
  }
}